body {
  background-color:black;
}

h1 {
  color:red;
  font-family:fantasy;
  font-size:64px;
  background-color:cyan;
  border-style:solid;

}

p {
  color:cyan;
  font-family:"times new roman";
  font-size:32px;
  background-color:red;
  border-style:solid;

}

img {
  width:450px;
  height:550px;
  
}
