body {
  background-color:black;
}
h1 {
  color:red;
  font-family:fantasy;
  font-size:64px;
  background-position:cyan;

}
p {
  color:cyan;
  font-family:"times new roman";
  font-size:32px;
  background-color:red;
  
}
